/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: dotted gray 6px;
  border-bottom: none;
  width: 6%;
  margin: 100px auto 100px auto;
}
body {
  font-family: Ubuntu, sans-serif;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #66bfbf;
  padding: 12px 20px;
  position: relative;
  position: sticky;
  top: 0px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.logo a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

/* Links */
.nav-links {
  display: flex;
  font-weight: bold;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 12px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #277d7d;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Close button inside menu */
.nav-links .close {
  display: none;
  font-size: 28px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* heroo */

.hero {
  width: 100%;
  height: 90vh;
  background-color: transparent;
  padding-top: 100px;
  margin-bottom: 100px;
  background: #d5ebeb;
}

.content {
  background-color: transparent;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.content h2 {
  font-family: 'Sacramento', sans-serif;
  background: -webkit-linear-gradient(45deg, #66bfbf, #797575);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px;
  font-size: 3.5rem;
}

.content .location {
  padding: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #666666;
}

.content .location i {
  background: -webkit-linear-gradient(45deg, #66bfbf, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px 10px;
}

.content .intro {
  font-size: 1.1rem;
  font-family: Montserrat, sans-serif;
  padding: 15px 30px;
  color: #248686;
}

.more {
  color: #1b346f;
}

.more:hover {
  color: #76b9b9;
  text-decoration: underline;
}

.btns {
  text-align: center;
  padding-top: 30px;
  background: #d5ebeb;
}

.btn-fa {
  margin-right: 30px;
}

.btn-fa:hover {
 background: -webkit-linear-gradient(45deg, #66bfbf73, #a9a9a9);
}
.btns a {
  background: -webkit-linear-gradient(45deg, #66bfbf, #a9a9a9);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btns a:hover {
  background: -webkit-linear-gradient(45deg, #66bfbfe4, #a9a9a9df);
}

/* ///about */
.aboutH2 {
  text-align: center;
  padding-bottom: 80px;
  font-size: 1rem;
  color: #666666;
  font-weight: bold;
  font-family: Inter, sans-serif;
}
.about {
  display: flex;
  /* align-items: center;  */
  max-width: 900px;
  margin: 0 auto 100px;
  padding: 0 20px;
  gap: 50px;
  padding-bottom: 50px;
}

/* Original image container (desktop/tablet) */
.aboutF {
  flex-shrink: 0;
}

.aboutImg {
  /* Keep desktop sizing here */
  width: 300px;
  min-width: 250px; /* This is the one we override on mobile */
}

.aboutImg img {
  width: 100%;
  height: auto;

  border-radius: 8px;
}

.aboutS {
  flex-grow: 1;
}

.aboutS h2 {
  padding-top: 24px;
  margin-bottom: 15px;
}

/* connect btns  */

.connect h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #666666;
  font-weight: bold;
  font-family: Inter, sans-serif;
}

.connBtn a {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.connBtn .connbtnOne {
  background: -webkit-linear-gradient(45deg, #2d639d, #a9a9a9);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 6px 18px;
  text-align: center;
}


.connBtn .connbtnOne:hover {
  background: -webkit-linear-gradient(45deg, #2d639dc3, #a9a9a9);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 6px 18px;
  text-align: center;
}

.connBtn .connbtnTwo {
  background: -webkit-linear-gradient(45deg, #9d832d, #a9a9a9);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 6px 18px;
}

.connBtn .connbtnTwo:hover {
  background: -webkit-linear-gradient(45deg, #9d832dc7, #a9a9a9);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 6px 18px;
}

.leranMoreBtn {
  padding-top: 20px;
}
.leranMoreBtn a {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background: -webkit-linear-gradient(45deg, #66bfbf, #a9a9a9);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 18px;
}

/* ////project  */

.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 15px;
  padding-bottom: 50px;
}

/* Individual Card */
.project-card {
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  /* background-color: #248686; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow: hidden; 
}

/* Hover Effect */
.project-card:hover {
  /* transform: translateY(-5px); */
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.637);
}

/* Title */
.project-card h3 {
  font-size: 1.4rem;
  margin-bottom: 12px;
  color: #222;
  font-family: 'ubantu', sans-serif;
}

/* Description */
.project-card p {
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 12px;
}

/* Links */
.project-card a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  margin-right: 10px;
  transition: color 0.3s;
}

.project-card a:hover {
  color: #aabcbc;
}

/* Section Heading */
.projectH2 h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 25px;
  color: #666666;
  font-family: Inter, sans-serif;
}

.tech {
  background-color: #66bfbf;
  padding: 25px;
  color: #fff;
}

.title {
  padding: 25px;
  background: #d5ebeb;
}

.contact-me {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;

  border-radius: 12px;
  /* box-shadow: 0 6px 20px rgba(0,0,0,0.1); */
}

.contact-me h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  font-family: 'ubuntu', sans-serif;
  color: #666666;
  font-weight: bold;
}

.contact-me h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #555;
}

.contact-me .message {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #333;
  padding: 0 10px;
}

.contact-me .btn {
  display: inline-block;
  padding: 12px 25px;
  background: -webkit-linear-gradient(45deg, #66bfbf, #a9a9a9);
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}



.contact-me .btn:hover {
  background-color: #b8caca80;
  /* transform: translateY(-2px); */
  background: -webkit-linear-gradient(45deg, #66bfbf99, #a9a9a9);
}


.footer {
  background-color: #66bfbf;
  color: #fff;
  padding: 70px 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.footer-content p {
  margin: 0 0 10px 0;
  font-size: 0.95rem;
}

.social-links a {
  color: #fff;
  margin: 0 10px;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s;
}
.social-links {
  padding-bottom: 20px;
}

.social-links a:hover {
  color: #3f65ab9a;
}

/* ///////////////////////////about page ////////////////////////////////////  */
.about-hero {
  max-width: 1125px;
  padding: 50px 20px;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.about-hero-img-1 {
  width: 30%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -5%;
}

.about-hero-img-2 {
  width: 30%;
  border-radius: 15px;
  display: flex;
  z-index: 3;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-hero-img-3 {
  width: 35%;
  /* border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -10%;
  z-index: 2; */
  /* z-index: 2; */
}

.about-hero-img {
  border-radius: 15px;
  width: 100%;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.img-part {
  transition: 0.05s ease-in-out;
}

.about-content {
  max-width: 600px;
  margin: 80px auto;
  padding: 20px;
}

.about-content h2 {
  background-image: linear-gradient(141deg, #66bfbf, #3a8c8c 28%, #66bfbf 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter", sans-serif;
  margin: 10px 0px 30px;
  font-size: 2.1rem;
}

.about-content p{
    font-size: 1.2rem;
    /* font-family: "Inter", sans-serif; */
    color: #444444;
    line-height: 2rem;
 font-family:  ubuntu;
}


.reachOut {
  color: #1b346f;

}

.reachOut:hover{
  
color:#66bfbf ;
}




/* //////contact////// */

.formTopHeadings{
  text-align: center;
  margin-top: 70px;
  font-size: 20px;
}
.formTopHeadings h2{
  font-size: 50x;
  padding-bottom: 10px;
}




  .contact-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 500px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }


  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .contact-form label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    resize: none;
    transition: border-color 0.3s;
  }

  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #66BFBF;
    outline: none;
  }

  .contact-form button {
    background: #66BFBF;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .contact-form button:hover {
    background: #3fa2a0;
  }
  .formTopHeadings h2{
  color: #248686;
}










@media screen and (max-width: 800px) {
  .about-content{
    margin: 20px auto;
  }
  .about-content h2 {
    font-size: 1.5rem;
  }

  .about-content p{
    font-size: 1rem;


}

  .contact-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 100%;
    margin: auto;
  }

}





















/* Responsive Off-Canvas Menu */
@media (max-width: 768px) {

  
.about-hero-img-3 {
  width: 85%;
  /* border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -10%;
  z-index: 2; */
  /* z-index: 2; */
}

  /* .bottom-cloud{
    position: absolute;
    left: 20px;
    top: 430px;
    z-index: -1;
      width: 20%;

  
    
    
} */
/* .top-cloud{
    position: absolute;
    width: 20%;
    bottom: 590px;
    right: 10px;
    top: 60px;
    z-index: -1;
} */
  .hamburger {
    display: block;
  }

  nav {
    justify-content: space-between;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background-color: #66bfbf;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    transition: right 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .nav-links.show {
    right: 0;
  }

  .nav-links .close {
    display: block;
  }

  .nav-links a {
    font-size: 20px;
    padding: 10px 0;
  }

  .about {
    flex-direction: column;
    text-align: left;
    margin-bottom: 50px;
    gap: 20px; 
  }

  .aboutImg {
 
    width: 70%;

    min-width: unset;

    margin: 0 auto 10px; /* Center and add less margin below the image */
    width: 300px;
  }

  .aboutS h2 {
    padding-top: 10px;
  }

.formTopHeadings p {
  padding-bottom: 20px;

}



}
/* Responsive: small screens */
@media (max-width: 500px) {
  .contact-me h2 {
    font-size: 1.6rem;
  }
  .contact-me h3 {
    font-size: 1rem;
  }
  .contact-me .message {
    font-size: 0.9rem;
  }
  .social-links a {
    margin: 0 5px;
    font-size: 1rem;
  }
}


/* About hero container */
.about-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 50px 0; */
  z-index: -2;
}

/* Profile Image */
.about-hero-img {
  width: 250px;
  max-width: 80%;
  /* border: 5px solid #66bfbf; */
  border-radius: 100%;
  object-fit: cover;
  z-index: -2;
  position: relative;
}

/* Clouds */
.top-cloud,
.bottom-cloud {
  position: absolute;
  width: 150px;
  opacity: 0.8;
  z-index: 1;
}

/* Top-right cloud */
.top-cloud {
  top: 0;
  right: 0;
}

/* Bottom-left cloud */
.bottom-cloud {
  bottom: 0;
  left: 0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .top-cloud,
  .bottom-cloud {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .top-cloud,
  .bottom-cloud {
    width: 70px;
  }

  .about-hero-img {
    width: 180px;
  }
}
